@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
header {
  background-color: #f2f2f2;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .nav_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60px; }
    header .nav_logo img {
      height: 100%; }
  header .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem; }
    header .nav .nav_ul {
      display: flex;
      flex-direction: row;
      list-style: none; }
      header .nav .nav_ul .nav-item {
        margin: 0 10px;
        align-items: center; }
        header .nav .nav_ul .nav-item a {
          text-decoration: none;
          color: #0d0d0d;
          font-size: 2.4rem;
          font-weight: 300;
          font-family: 'Bebas Neue', cursive;
          letter-spacing: 0.2rem; }
  header .nav_toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60px;
    cursor: pointer; }
    header .nav_toggle img {
      height: 100%; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.actividades, .contacto {
  background-color: #f2f2f2;
  height: 80px;
  display: flex;
  align-items: center; }

.actividades h1, .contacto h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.4rem;
  font-weight: 300;
  text-align: start;
  color: #0d0d0d;
  letter-spacing: 0.2rem;
  padding: 2.4rem; }
