* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "bebas-light";
    src: url(../fonts/bebas/BebasNeueThin-4B3mY.ttf);
}

@font-face {
    font-family: "bebas-bold";
    src: url(../fonts/bebas/BebasNeueBold-7B9LE.ttf);
}

@font-face {
    font-family: "bebas";
    src: url(../fonts/bebas/BebasNeueRegular-gxj83.ttf);
}

.hero {
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/mountain-mountains-mountain-forest-mountain-view.jpg);
}

.capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.329);
}

.encabezado {
    z-index: 1;
    width: 100%;

    text-align: center;
}

.encabezado h1 {
    color: #fff;
    font-size: 90px;
    font-weight: bolder;
    margin-bottom: 20px;
    letter-spacing: 12px;
    font-family: 'bebas';

}

.encabezado h3 {
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'bebas-light';
    margin-bottom: 20px;
    letter-spacing: 7px;
}

.quienesSomosTit,
.dondeEstamos {
    display: flex;
    justify-content: flex-end;
}

.quienesSomosTit,
.dondeEstamos h3 {
    font-family: "bebas";
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 7px;
    margin-right: 35px;
}

.quienesSomosSection {
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/3/e7/les-doroga-razvilka-zelen-vetki-listia-leto.jpg);
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.sectionText {
    width: 40%;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.753);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    text-align: right;
}

.quienesSomosSection .sectionText h5 {
    max-height: 50px;
    background-color: rgba(245, 196, 65);
    display: inline-block;
    font-family: "bebas";
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 30px;
    padding: 5px;
}

.quienesSomosSection .sectionText p {
    font-family: "bebas";
    font-size: 25px;
    margin-top: 50px;
    letter-spacing: 5px;
}

.ubicacion {
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/3/e7/les-doroga-razvilka-zelen-vetki-listia-leto.jpg);
}

.bgUbicacion {
    display: flex;
    justify-content: center;
    height: 550px;
    background-color: rgb(212, 212, 212);
    flex-direction: column;
}

.cuadroDireccion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cuadroDireccion hr {
    display: block;
    height: 90px;
}

.dirText {
    margin-top: 5px;
    font-family: "bebas";
    letter-spacing: 3px;
}

.dirText p {
    margin-top: 10px;
    font-size: 10px;
}