%background-secciones {
    background-color: #f2f2f2;
    height: 80px;
    display: flex;
    align-items: center;
}

%titulos-secciones {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.4rem;
    font-weight: 300;
    text-align: start;
    color: #0d0d0d;
    letter-spacing: 0.2rem;
    padding: 2.4rem;

}